* {
  margin: 0;
  padding: 0;
}
/* --------------------------- Body ------------------------------------ */

/* --------------------------- Header ------------------------------------ */
.header {
  padding: 0 3rem; 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: sticky;
  top: 0; 
  z-index: 1000;
}


.busqueda {
  position: relative;
}

.busqueda input {
  width: 12.5rem; 
  height: 2.5rem; 
  padding-left: 2.5rem; 
  transform: translateX(-4%);
}

.nav_busqueda {
  position: absolute;
  top: 50%;
  transform: translateX(50%);
  transform: translateY(-50%);
  z-index: 1;
}

/* --------------------------- Nav ------------------------------------ */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  padding: 0 3rem;
  z-index: 100;
  border-bottom: 2px solid #008774;
}


.logo {
  width: 7.5rem;
  margin-top: 1.25rem;
  
}

.nav_menu{
  width: 3.125rem;
  margin-left: 1.875rem;
  cursor: pointer;

}

.nav_busqueda{
  width: 1.5625rem;
}

.carrito {
  width: 2.5rem;
}

.user {
  width: 3.125rem;
  margin-right: 1.875rem;
}

@media only screen and (max-width: 768px) {
  .busqueda {
    display: none;
  }
  .carrito {
    display: none;
  }
  .user {
    width: 3.125rem;
    right: 0;
  }
  .logo {
    display: none;
  }
  .nav_menu{
    width: 3.125rem;
    cursor: pointer;
    left: 0;
  }

}

/* --------------------------- Oferta ------------------------------------ */
.ofertas {

  border-radius: 0.9375rem;
  padding: 1.75rem;
  margin-top: 1.25rem;
  margin-bottom: 1.75rem;
  margin-left: 3rem;
  margin-right:3rem ;

  display: grid;
  grid-template-columns: 3;
  grid-template-rows: 2;
  filter: drop-shadow(4px 4px rgb(67, 66, 66));
  
}
.title--ofertas {
  grid-column: 1;
  margin-left: 4.875rem;
}
.texto--ofertas {
  grid-column: 1;
  margin-top: 5rem;
  margin-left:2.375rem;
  line-height: 1.2;
}
.imagen--ofertas {
  padding-left:8.25rem ;
  width: 15.625rem;
  height: 12.5rem;
}

.nombre--ofertas {
  padding-left: 7.5rem;
  margin-left: 6.25rem;
}
.precio--ofertas {
  padding-left: 7.5rem;
  grid-column: 3;
  margin-top: 0.75rem;
  margin-left: 5.3125rem;

}

.precioAntiguo--ofertas {
  margin-right: 0.75rem;
}

.card--ofertas {
  grid-column: 3;
  padding-bottom: 0.75rem;
  padding-top: 0.875rem;
  
  transform: translateY(-5%); 
  border-radius: 0.9375rem;
  position: relative;
  
}

.etiqueta {
  width: 15%;
  padding: 4px;
  position: absolute;
  right: 0;
  z-index: 1;
  margin-top: 0.75rem;
  transform: rotate(40deg);
  overflow: auto;
  text-align: center;
  border-radius: 5px;
}

@media only screen and (max-width: 768px) {
  .ofertas {
    margin-left: 1rem;
    margin-right: 1rem;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .title--ofertas {
    margin-left: 1.5rem;
  }

  .texto--ofertas {
    margin-top: 3rem;
    margin-left: 1rem;
    margin-bottom: 2rem;
  }

  .imagen--ofertas {
    padding-left: 0;
    width: 100%;
    height: auto;
  }

  .nombre--ofertas {
    padding-left: 1rem;
    margin-left: 0;
  }

  .precio--ofertas {
    padding-left: 1rem;
    grid-column: 1;
    margin-top: 0.75rem;
    margin-left: 0;
    text-align: center;
  }

  .precioAntiguo--ofertas {
    margin-right: 0;
  }

  .card--ofertas {
    grid-column: 1;
    padding-bottom: 0.75rem;
    padding-top: 0.875rem;
    transform: translateY(0);
    position: relative;
  }

  .etiqueta {
    width: auto;
    padding: 4px;
    position: static;
    margin-top: 0.75rem;
    transform: rotate(0);
    text-align: center;
    border-radius: 5px;
  }
}


/* -------------------------- Recomendados para ti ------------------- */

/* Estilos para dispositivos más grandes */
.recomendados {
  position: relative;
  overflow: hidden;
  padding-bottom: 1.5rem;
}

.titulo-y-texto {
  width: auto;
  height: auto;
  display: inline-block;

}

.title--recomendados{
  margin-left: 4.875rem;
  display: inline-block;
  transform: translateY(150%);
}

.text--recomendados{
  margin-left: 2.375rem;
  text-align: center;
  transform: translateY(8em);
}

.container{
  transform: translateX(40%);
  width: 90%;
  
  overflow: hidden;
  /* padding-right: 32px; */
}
.container .swiper-container{
  height: 50%;
  width: 90%;
  transform: translateY();
}
.container .swiper-slide {
  text-align: center;
  padding-top: 1.5rem;
  border-radius: 0.9375rem;
  text-align: start;
  box-shadow: 0px 4px 4px rgba(196, 196, 196, 0.25);

}
.container .swiper-slide img{
  transform: translateX(50%);
  display: block;
  width: 50%;
  height: 50%;
  border-radius: 0.75rem;
}
.swiper-slide {
  overflow: hidden;
}


.container .swiper-slide .card-description{
    padding:1rem 1rem;
}
.container .swiper-slide .card-title,.container .swiper-slide .card-text{
   margin-bottom: 0.5rem;
   text-align: center;
}
.container .swiper-slide .card-link{
   text-align: center;
    border-radius: 0.75rem;
    padding:0.75rem ;
}
.container .swiper-slide .card-link a{
    text-decoration: none;
}

/* Media Query para pantallas de hasta 768px de ancho (diseño anterior) */
@media only screen and (max-width: 768px) {
  .title--recomendados {
    margin-left: 3rem; 
  }
  
  .container {
    margin-top: 4rem;
    transform: translateX(12%); 
    width: 80%; 
  }
  
  .container .swiper-container {
    height: 60%; 
    width: 100%; 
  }
  
  .container .swiper-slide img {
    width: 70%; 
    height: auto; 
    transform: translateX(25%); 
  }
  
.text--recomendados{
  display: none;
 }

}



/* -------------------------------Categoria IPHONE------------------- */


.iphone {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 0.9375rem;
  padding: 1.25rem;
}

.contenidoRecomendadosIphone {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 1.25rem;
}



.title--iphone {
  text-align: center;
  margin-bottom: 0.625rem;
}

.text--iphone p {
  text-align: center;
}


.recomendados--categoriasIphone {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 1.25rem;
}

.categoriaIphone {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0.625rem;
  padding: 0.625rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
}

.categoriaIphone span {
  margin-bottom: 5px;
}

.categoriaIphone img {
  width: 12.5rem;
  height: 12.5rem;
}


/* ------------------------------- Categoria SAMSUNG------------------ */

.Samsung {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 1.25rem;
  padding: 1.25rem;
}

.contenidoRecomendadosSamsung {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
  padding: 1.25rem;
}

.title--Samsung {
  text-align: center;
  margin-bottom: 0.625rem;
}

.recomendados--categoriasSamsung {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  margin-top: 1.25rem;
}

.categoriaSamsung {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 0.625rem;
  padding: 0.625rem;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1);
  width: 12.5rem;
}

.categoriaSamsung span {
  margin-bottom: 5px;
}

.categoriaSamsung img {
  width: 100%;
  height: auto;
}

/* ------------------------------- Categrias --------------------------*/

.Categorias {
  text-align: center;
}

.titulo {
  margin-top: 1.25rem; 
}

.logos-arriba,
.logos-abajo {
  display: flex;
  justify-content: center;
}

.logos-arriba img,
.logos-abajo img {
  margin: 1.875rem;
  width: 9.375rem; 
}

/* Media Query para pantallas de hasta 768px de ancho */
@media only screen and (max-width: 768px) {
  .titulo {
    margin-top: 0.75rem; 
  }
  
  .logos-arriba,
  .logos-abajo {
    flex-direction: column; 
    align-items: center; 
  }
  
  .logos-arriba img,
  .logos-abajo img {
    margin: 0.75rem; 
    width: 7.5rem; 
  }
}


/* ------------------------------------------------------- FOOTER ------------------------------------------------- */
.footer {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 1.25rem; 
}

.QYA--title {
  margin-bottom: 1.5rem;
  margin-top: 0.75rem;
  margin-left:4rem;
} 

.QYA, .contactos, .logo-footer {
  flex: 1;
  padding: 0.625rem;
}

.QYA {
  text-align: left;
}

.contactos {
  display: flex;
  flex-direction: column;
  align-items: end;
}

.logo-footer img {
  width: 6.25rem;
  margin-top: 1.875rem;
  margin-left: 9.375rem;
}

.contactos * {
  width: fit-content;
}

.contacto_icon {
  display: block; 
  width: 100%; 
  margin-top: 0.625rem;
  text-align: right;
}

.contacto_item {
  margin-top: 0.625rem;
  display: flex;
}

.contacto_item img {
  width: 1.5rem; 
  margin-right: 0.625rem;  
}

.contacto_icon p {
  margin: 0;
  display: block; 
  text-align: right;
}

.contactanos--title {
  margin-bottom: 0.75rem;
  margin-right: 2rem;
  margin-top: 0.75rem;
}

.pregunta {
  padding-left: 0.75rem;
  margin: 0.875rem;
  
} 

.contactos--content {
  margin-bottom: 1rem;
  margin-right: 2rem;
}  
/* Media Query para pantallas de hasta 768px de ancho */
@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column; 
    align-items: center; 
    padding: 0.625rem; 
    background-color: #B0E8FF !important; 
  }

  .QYA--title {
    margin-left: 0; 
    text-align: center; 
  }

  .logo-footer img {
    margin: 0; 
  }

  .contacto_icon {
    text-align: center; 
  }

  .contactanos--title {
    margin: 0; 
    text-align: center; 
    margin-top: 0.75rem; 
  }

  .pregunta, .contactos--content {
    margin: 0.625rem; 
  }
}


/* Modal de login */

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 40rem; 
  padding: 3rem 4rem; 
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3); 
  z-index: 1000;
  transition: all 0.5s;
}

.modal__header {
  margin-bottom: 3rem; 
  line-height: 1.5;
}

.modal__form {
  margin: 0 1.5rem; 
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  gap: 1.5rem; 
}

.modal__form input {
  padding: 1rem 1.5rem;
  border: 1px solid #ddd;
  border-radius: 0.5rem;
}

.modal__form button {
  grid-column: 1 / span 2;
  justify-self: center;
  margin-top: 1rem;
}

.btn--close-modal {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem; 
  cursor: pointer;
  border: none;
  background: none;
}

.btn-login {
  padding: 1.2rem 2rem; 
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease; 
}

.hidden {
  visibility: hidden;
  opacity: 0;
}

.modal-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 30%; 
  height: 100%;
  padding: 3rem 2rem; 
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: transform 0.5s ease; 
}

.modal-menu__header {
  margin-bottom: 3rem;
  line-height: 1.5;
}

.modal-menu__content {
  margin: 0 1.5rem;
}

.modal-menu__close {
  position: absolute;
  top: 0.5rem;
  right: 1.5rem;
  cursor: pointer;
  border: none;
  background: none;
}

.overlay-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: none; 
}

.overlay-menu.active {
  display: block; 
}

.ul {
  padding: 0;
  margin: 0;
  list-style-type: none; 
  display: flex; 
  flex-direction: column; 
  align-items: center; 
}

.clickLista {
  cursor: pointer;
  padding: 1.5rem 0; 
  transition: color 0.3s ease;
  display: flex;  
  align-items: center; 
}

.clickLista::before {
  content: "•"; 
  margin-right: 1rem; 
}


