.hero-img {
  height: 100vh;
  background-image: linear-gradient(rgba(68,68,68,0.3),
                                    rgba(68,68,68,0.3)
                                    ),
                    url("hero.jpg");
  background-size: cover;


}