/****************************************/
/* ATOMS - PERSONALITY CONSISTENCY  SYSTEM*/
/****************************************/
/*
     /*
            SPACING SYSTEM (px)
            2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

            FONT SIZE SYSTEM (px)
            10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

            MAIN COLOR: #087f5b
            GREY FOR TEXT: #343a40
        */

/* ------------------------ */
/* GLOBAL/UNIVERSAL STYLES */
/* ------------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #343a40;
  line-height: 1;
}

/* ------------------------ */
/* GENERAL/REUSABLE STYLES */
/* ------------------------ */

/* ------------------------ */
/* COMPONENT STYLES -  */
/* ------------------------ */

.acordeon {
  width: 700px;
  margin: 100px auto;

  display: flex;
  flex-direction: column;
  gap: 24px;
}

.item {
  padding: 24px;
  box-shadow: 0 0 24px rgb(0, 0, 0, 0.1);

  display: grid;
  grid-template-columns: auto 1fr auto;
  column-gap: 24px;
  row-gap: 32px;
}

.numero, .texto {
  font-weight: 500;
  font-size: 24px;
}

.numero {
  color: #ced4da;
}

.texto {
  color: #343a40;
}

.icon {
  width: 24px;
  height: 24px;
  stroke: #087f5b;
}

.icon[name="down"] {
}

.open .icon[name="up"] { 
  display: block;
}

.open .icon[name="down"] {
  display: none;
}

.icon[name="up"] {
 display: none; 
}

.hidden-box  {
  grid-column: 2;
  display: none;
}

.hidden-box p {
  line-height: 1.6;
  margin-bottom: 24px;
}

.open .hidden-box {
  display: block;

}

.open {
  border-top: 4px solid #087f5b;
}

.open .numero, .open .texto {
  color: #087f5b;
}

.hidden-box ul {
  color: #868e96;
  margin-left: 20px;

  display: flex;
  flex-direction: column;
  gap: 12px;
}

